#result {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#result li {
  width: 600px;
  margin: 30px 0;
  list-style-type: none;
}

#result li::after {
  content: "";
  width: 600px;
  display: block;
}
